keymap = """
    xkb_keymap {
        xkb_keycodes { include "evdev+aliases(qwerty)" };
        xkb_types    { include "complete"              };
        xkb_compat   { include "complete"              };
        xkb_symbols  { include "pc+de(basic)"     };
    };
    """

on-graphics-initialized = { type = "exec", exec = "dunst" }
on-graphics-initialized = { type = "exec", exec = "/home/bernd/scripts/check-dotfiles.sh" }
on-graphics-initialized = { type = "exec", exec = "lxpolkit" }
on-graphics-initialized = { type = "exec", exec ="gnome-keypring-daemon --start --components=ssh,secrets,pkcs11" }
on-graphics-initialized = { type = "exec", exec ="nm-applet --indicator" }
on-graphics-initialized = { type = "exec", exec ="blueman-applet" }
on-graphics-initialized = { type = "exec", exec ="wl-paste --type text --watch cliphist store" }
on-graphics-initialized = { type = "exec", exec ="wl-paste --type image --watch cliphist store" }

[shortcuts]
mod4-Left = "focus-left"
mod4-Down = "focus-down"
mod4-Up = "focus-up"
mod4-Right = "focus-right"

mod4-shift-Left = "move-left"
mod4-shift-Down = "move-down"
mod4-shift-Up = "move-up"
mod4-shift-Right = "move-right"

mod4-h = "split-horizontal"
mod4-v = "split-vertical"

mod4-t = "toggle-split"
mod4-g = "toggle-mono"
mod4-f = "toggle-fullscreen"

mod4-a = "focus-parent"
mod4-shift-q = "close"
mod4-space = "toggle-floating"
mod4-Return = { type = "exec", exec = "foot" }
mod4-d = { type = "exec", exec = "fuzzel" }
# mod4-shift-e = "quit"
mod4-shift-e = { type = "exec", exec = "/home/bernd/.config/fuzzel/scripts/powermenu.sh" }
mod4-shift-c = "reload-config-toml"

ctrl-alt-F1 = { type = "switch-to-vt", num = 1 }
ctrl-alt-F2 = { type = "switch-to-vt", num = 2 }
ctrl-alt-F3 = { type = "switch-to-vt", num = 3 }
ctrl-alt-F4 = { type = "switch-to-vt", num = 4 }
ctrl-alt-F5 = { type = "switch-to-vt", num = 5 }
ctrl-alt-F6 = { type = "switch-to-vt", num = 6 }
ctrl-alt-F7 = { type = "switch-to-vt", num = 7 }
ctrl-alt-F8 = { type = "switch-to-vt", num = 8 }
ctrl-alt-F9 = { type = "switch-to-vt", num = 9 }
ctrl-alt-F10 = { type = "switch-to-vt", num = 10 }
ctrl-alt-F11 = { type = "switch-to-vt", num = 11 }
ctrl-alt-F12 = { type = "switch-to-vt", num = 12 }

mod4-1 = { type = "show-workspace", name = "1" }
mod4-2 = { type = "show-workspace", name = "2" }
mod4-3 = { type = "show-workspace", name = "3" }
mod4-4 = { type = "show-workspace", name = "4" }
mod4-5 = { type = "show-workspace", name = "5" }
mod4-6 = { type = "show-workspace", name = "6" }
mod4-7 = { type = "show-workspace", name = "7" }
mod4-8 = { type = "show-workspace", name = "8" }
mod4-9 = { type = "show-workspace", name = "9" }
mod4-0 = { type = "show-workspace", name = "10" }

mod4-shift-1 = { type = "move-to-workspace", name = "1" }
mod4-shift-2 = { type = "move-to-workspace", name = "2" }
mod4-shift-3 = { type = "move-to-workspace", name = "3" }
mod4-shift-4 = { type = "move-to-workspace", name = "4" }
mod4-shift-5 = { type = "move-to-workspace", name = "5" }
mod4-shift-6 = { type = "move-to-workspace", name = "6" }
mod4-shift-7 = { type = "move-to-workspace", name = "7" }
mod4-shift-8 = { type = "move-to-workspace", name = "8" }
mod4-shift-9 = { type = "move-to-workspace", name = "9" }
mod4-shift-0 = { type = "move-to-workspace", name = "10" }

[status]
format = "i3bar"
exec = "i3status"

[[outputs]]
name = "left"
match.serial-number = "HH77Y7B4AM6L"
x = 0
y = 0

[[outputs]]
name = "right"
match.serial-number = "HH77Y75BAEDB"
x = 1920
y = 0
transform = "rotate-90"

[[inputs]]
match.is-pointer = true
tap-enabled = true
natural-scrolling = true
