[mgr]
ratio          = [ 1, 4, 3 ]
sort_by        = "alphabetical"
sort_sensitive = true
sort_reverse   = true
sort_dir_first = true
linemode       = "none"
show_hidden    = false
show_symlink   = true

# [preview]
# tab_size        = 2
# max_width       = 600
# max_height      = 900
# cache_dir       = ""
# ueberzug_scale  = 1
# ueberzug_offset = [ 0, 0, 0, 0 ]

[[plugin.prepend_preloaders]]
name = "/mnt/EIS/**"
run  = "noop"

